db.sqlite3
Dolphin/.env
Dolphin/__pycache__
panel/__pycache__
control/__pycache__
dist/
compiled_payloads/
client/polymorphic_main.py
client/build
client/dist
client/polymorphic_main.spec
uploaded_scripts/